.detail {
  :global {
    .ant-tabs-nav {
      margin-left: 40px;
    }
    .ant-tabs-bar > div:first-child {
      float: left !important;
    }
    .ant-card-bordered {
      &:hover {
        border-color: #108ee9;
      }
    }
    .ant-timeline {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}

.operation {
  :global {
    .ant-row {
      padding-bottom: .5em;
    }

    .ant-row:last-child {
      padding-bottom: 0;
    }
  }
}

.timeline {
  :global {
    .ant-timeline-item-content {
      top: -14px;
    }
    .ant-collapse-content {
       overflow: hidden;
       color: #666;
       padding: 0;
       background-color: #fff;
     }

    .ant-timeline-item-pending .ant-timeline-item-content {
      top: -3px;
    }
  }
}

.baseInfo {
  :global {
    .ant-row {
      margin: .3em auto;
      padding: .5em;
      border-bottom: 1px dashed #dddddd;
    }
    .gutter-row span:nth-child(1) {
      display: inline-block;
      width: 30%;
      text-align: right;
      font-weight: bold;
    }
    .gutter-row span:nth-child(2) {
      display: inline-block;
      width: 60%;
      margin-left: 10%;
      word-break: keep-all;
    }
    .ant-collapse-content {

    }
    .ant-modal-footer{
      display: none;
    }
  }
  .ant-modal-footer{
    display: none;
  }
}

.inspect {
  :global {
    .ant-collapse-content > .ant-collapse-content-box {
      display: block;
    }
    .ant-card {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      width: 240px;
      cursor: pointer;
    }

    .custom-image img {
      display: block;
    }
    .custom-card {
      padding: 10px 16px;
    }
    .custom-card p {
      font-size: 16px;
    }
  }
}
.ant-modal-footer{
  display: none;
}
